/*#region BRAND STANDARDS*/
/*Styling consistent throughout site*/
/*
    color: #404040;             Main Text Color     (dark grey - almost black)
    color: rgb(255,87,51);      Emphasis Text Color (branded orange)
    color: #96f3fa;             Highlight Text Color (light blue)
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
*/
/*#endregion*/

/*#region Initial Styling*/
body {
}

container {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    /*background-color: whitesmoke;*/
    padding-top: 0px;
    padding-bottom: 535px;
    box-sizing: border-box;
    background-color: white;
}

h1 {
    color: rgb(62,85,101);
    font-size: 24px;
    position: relative;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

h3 {
    color: #404040;
    text-decoration: none;
}

h6 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
    color: rgb(255,87,51)
}

aside h2 {
    color: rgb(255,87,51);
    text-decoration: none;
}

footer {
    font-style: italic;
    padding: 50px 50px;
    margin: 1px 1px 1px 1px;
    border: 1px solid darkgrey;
}


.logo img {
    height: 10%;
    width: 10%;
    float: left;
    padding: 6px;
}

.logo h2 {
    text-align: left;
    clear: left;
}

div.iconItem1 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 200px;
}

div.iconItem2 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 150px;
}

div.iconItem3 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 100px;
}

div.iconItem4 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 50px;
}

.iconItem5 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 160px;
}

.iconItem6 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 110px;
}

.iconItem7 {
    display: inline-block;
    text-align: right;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 60px;
}

.iconItem8 {
    display: inline-block;
    text-align: right;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
}

div.iconItem1:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 50px;
    border-color: #96f3fa;
    padding: 7px 7px;
    margin-top: 7px;
    margin-left: 7px;
}

div.iconItem2:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem3:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem4:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem5:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem6:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem7:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem8:hover {
    display: inline-block;
    text-align: right;
    padding: 7px 7px;
    position: absolute;
    */ width: 25px;
    height: 25px;
    right: 10px;
}

div.iconItem::after {
    display: inline-block;
    width: 75%;
    height: auto;
    color: darkcyan;
}
/*#endregion*/

/*#region Navigation styling*/
fa fa-home {
    width: 200%;
    height: 200%;
}

nav a {
    font-weight: bold;
    color: rgb(255,87,51);
    text-decoration: none;
}

.active {
    background-color: white;
    color: rgb(62,85,101);
    height: 100%;
    text-decoration: none;
}

nav a:hover, nav a:active, nav a:focus {
    text-decoration: none;
    height: 100%;
}

nav ul {
    background-color: rgb(62,85,101);
    height: 100%;
}

nav li:hover {
    background-color: #00A7E1;
    height: 100%;
}

nav ul li {
    display: inline-block;
    height: 100%;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
        height: 100%;
    }

/*#region Hamburger Menu */
/*Styling for Hamburger Menu*/
nav a.pull-right {
    font-weight: bold;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    font-size: 1.5em;
    display: none;
}

/*Below is a CSS media query that checks the size of the viewport and applies the styling inside of its scopes at a specific screen size.*/
@media screen and (max-width: 850px) {
    nav ul#nav-list {
        display: none;
    }

    nav a.pull-right {
        display: inline-block;
    }

    /* .expanded is added to #nav-list when the hamburger button is clicked. This CSS will 'expand' the menu.*/
    nav ul#nav-list.expanded {
        float: none;
        clear: both;
        display: block;
    }

        nav ul#nav-list.expanded li {
            display: block;
        }

            nav ul#nav-list.expanded li a {
                display: block; /* This will make the clickable area for the a tag stretch the full width of the menu. */
                float: none;
                text-align: center; /*centers the link in the menu*/
                position: static;
            }

    nav li.dropdown ul.dropdown-menu {
        width: 50%;
        float: none;
        margin: auto;
        position: static;
    }
}
/*#endregion*/
/*#endregion*/

/*#region Index Page*/
/*Styling for the Index Page of the Website*/
.w50 {
    float: left;
    padding: 5px;
    margin: 5px 5px;
    width: 300px;
    height: 200px;
}

.about h2 h4 {
    vertical-align: middle;
    font-family: 'Trebuchet MS';
    width: 100%;
    padding: 200px 200px 200px 200px;
}

div choose {
    width: 100%;
}

.why h2 {
    text-decoration: none;
    text-align: center;
    padding: 25px;
    font-size: 48px
}

.w51 {
    float: left;
    padding: 25px;
    width: 50%;
}

.choose h4 {
    vertical-align: middle;
    width: 100%;
}

.w52 {
    float: right;
    top: 0;
    align-content: space-around;
    width: 50%
}
/*#endregion*/

/*#region Page Banner*/
/*Styling for banner consistent across all pages */

container {
    min-height: 100vh;
    box-sizing: border-box;
}

header h1, header p {
    box-sizing: border-box;
    margin-left: 50px;
    padding: .25em;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header h1 {
    font-size: 60px;
    letter-spacing: 0.1em;
    color: #96f3fa;
}

header p {
    font-size: 24px;
    font-weight: bold;
    color: lightseagreen;
}

.logo img {
    height: 10%;
    width: 10%;
    align-content: flex-start;
    float: left;
    padding: 6px;
}

.logo h2 {
    text-align: left;
    clear: left;
}

div.iconItem1 {
    display: inline;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 200px;
}

div.iconItem2 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 150px;
}

div.iconItem3 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 100px;
}

div.iconItem4 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 0;
    right: 50px;
}

.iconItem5 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 160px;
}

.iconItem6 {
    display: inline-block;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 110px;
}

.iconItem7 {
    display: inline-block;
    text-align: right;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 60px;
}

.iconItem8 {
    display: inline-block;
    text-align: right;
    padding: 7px 7px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 10px;
}

div.iconItem:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 50px;
    border-color: #96f3fa;
    padding: 7px 7px;
}

div.iconItem2:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem3:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem4:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem5:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem6:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem7:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem8:hover {
    display: inline-block;
    background-color: rgb(255,87,51);
    border: groove;
    border-radius: 25px;
    border-color: #96f3fa;
}

div.iconItem::after {
    display: inline-block;
    width: 75%;
    height: auto;
    color: darkcyan;
}
/*#endregion*/

/*#region Images*/
/*Gallery Layout for images.html*/
div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lightsalmon;
    }

    div.galleryItem: image {
        width: 100%;
        height: auto;
    }

    div.galleryItem a:hover {
        background-color: lightsalmon;
    }

#imageGallery {
    margin: 0 auto;
    width: 90%;
    text-align: center;
}

.mainWrapper {
    padding: 1%;
    float: left;
    margin: 0px 15px 15px 0px;
}

.asideWrapper {
    padding: 1%;
}

aside h2 {
    padding: 2%;
}

/*positioning a single image through CSS*/
#headerOverlay {
    background-image: url('../images/centriqISH-72dpi.jpg');
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: 3% center;
    padding: 2em;
}
/*#endregion*/

/*#region Columns*/
/*Column layout 2 column layout with 1 column floated*/
.leftColumn {
    float: left;
    margin: 0px 15px 15px 0px;
}

    .leftColumn h2 {
        float: left;
        text-align: left;
        display: inline;
    }

#rightColumn {
    width: 29%;
    float: right;
}

aside h2 {
    margin-top: 0;
}

*#cssLeftColumn {
    width: 70%;
    float: left;
    box-sizing: border-box;
}

#cssRightColumn {
    width: 29%;
    float: right;
}

.clear {
    clear: both;
}

/*#endregion */

/*#region Tables*/
/*Table Styling*/
table {
    width: 50%;
    margin: auto;
}

th, td {
    border-bottom: 1px solid #ddd;
}

caption {
    background-color: rgb(62,85,101);
    color: aliceblue;
}

tr:nth-child(odd) {
    background-color: rgb(62,85,101);
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

table#simpleTable {
    background-color: rgb(62,85,101);
    width: 100%;
    margin: 0 auto;
    clear: both;
    border-collapse: separate;
    border-spacing: 0;
}

    table#simpleTable:nth-child(odd) {
        background-color: rgb(62,85,101);
    }
/*#endregion*/

/*#region Contact Page*/
/*Styling for Contact Page*/
.contact {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin-left: 12%;
    margin-right: 12%;
}

.deets {
    font-size: 20px;
    text-decoration: none;
    border-top: 1px inset darkgrey;
    border-bottom: 1px inset darkgrey;
}
/*#endregion*/

/*#region Teams Page*/
/* Styling for the Teams Page*/
a#leadership h2 {
    text-decoration: none;
}
/*#endregion*/

/*#region ImageCrop*/
/*Image cropping on Teams page*/

.pic1 {
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

/*
.profile-pic {
    display: block;
    margin: 0 auto;
    width: auto;*/
}
/*#endregion */

/*#region Lightbox*/
/*Styling for lightbox image gallery*/
.thumb {
    cursor: pointer;
}

#lightbox-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .8);
    z-index: 1031;
    text-align: center;
    padding: 3em;
    display: none; /*Display none after you style the element the way you want. We will use jQuery to open this lightbox*/
}

    #lightbox-container p {
        color: #fff;
    }

#lightbox-content img {
    border: 10px solid gray;
    margin: auto;
    width: 25%;
    height: 25%;
}
/*#endregion*/
